@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Goldman', cursive;
}
.background-color{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(9, 2, 255);
    background: linear-gradient(90deg, rgba(9, 2, 255, 0.7528408779187149) 11%, rgba(1, 255, 32, 0.7078970576939958) 31%, rgba(255, 0, 0, 0.6910431251097261) 63%, rgba(252, 255, 0, 0.7893577318512992) 90%);
    opacity: 0.4;
    z-index: -1;
}
.header {
    position: relative;
    width: 100%;
    min-height: 100px;
}

.header__heading {
    color: white;
    font-size: 50px;
    margin: 0;
    margin-top: 30px;
    text-transform: uppercase;
}

.playArea{
    position: relative;
    min-width: 550px;
    min-height: 500px;
    /* background-color: rgb(255, 255, 255); */
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.gameOption__header{
    display: block;
    text-align: center;
}


.heading2 {
    display: flex;
    margin: 5px 10px;
}
.shownColor-wrapper{
    width: 100%;
}

.shownColor{
    display: block;
    font-size: 100px;
    text-align: center;
    margin: 30px 0;
    font-weight: 700;

}
.keyPress{
    font-size: 25px;
    color: white;
    /* border: 1px solid black; */
    border-radius: 4px;
}
.result__header{
    font-size: 50px;
    font-weight: 700px;
}
.result__button-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.shownColor__footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.animation{
    position: absolute;
    color: red;
    font-size: 100px;
    z-index: 999;
    transform: scale(0);
    animation: gogogo 2s ease ;
}

@keyframes gogogo {

    /* 50% {
        transform: scale(1.5);
    } */
    80% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(0);
    }
}

@media only screen and (max-width: 600px) {
    .playArea{
        width: 100%;
        margin-top: 5px;
        height: 100%;
        padding: 10px;
    }
    .button{
        width: 100%;
        margin-bottom: 3px;
    }
    .header__heading {
        font-size: 25px;
        margin-bottom: 0;
    }
    .gameOption__header{
       font-size: 20px; 
    }
    .shownColor{
        font-size: 80px;
        margin: 5px;  
    }
    .disabled{
        visibility: hidden;
        /* background-color: red; */
        height: 0;
        margin: 0;
        padding:0;
    }
    .gameOption__header{
        margin-top: 0;
    }

    @keyframes gogogo {

        80% {
            transform: scale(0.7);
        }
        100% {
            transform: scale(0);
        }
    }
}